.header-color {
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.landing-grid {
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align: center;
}
.avatar-img{
  height:230px;
  padding-top: 4em;
}
.banner-text {

  background-color: black;
  opacity: .6;
  width: 75%;
  margin:auto;
  border-radius: 10px;
}
.banner-text h1{

  font-size: 66px;
  font-weight: bold;
  color: white;

}
.banner-text hr{
  border-top: 5px double white;
  width: 50%;
  margin: auto;
}
.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;

}

.covid-body{
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.covid-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;

  margin-bottom: 20px;
}
.covid-grid h2{
  font-family: 'Exo 2' , sans-serif;
}

.covid-grid p{
  font-family: 'Exo 2' , sans-serif;
  font-weight: bold; 
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


















